:root {
  --bg-color: #f5f5f5;
  --primary-color: #02315e;
  --secondary-color: #2f70af;
  --blue-color: #00457e;
  --pastel-color: #b9848c;
  --purple-color: #806491;
  --white-color: #fff;
  --black-color: #000;
}
